@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  font-family: Bellota, sans-serif;
  font-size: 18px;
  background: #212121;
  color: #333;  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}
header {
  background: #7C9473;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
  max-width: 100vw;
}
header h1 {
  color: #ffffff; /* Tiêu đề trắng */
}

nav {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  padding: 10px 20px;
  justify-content: center; /* Căn giữa theo chiều ngang */
  /*justify-content: space-between; /* Phân bố khoảng trống giữa logo và menu */
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav a:hover {
  text-decoration: underline;
}
main {
  max-width: 700px;   /* giới hạn độ rộng, dễ đọc */
  margin: 20px auto;  /* cách lề trên dưới 20px, căn giữa ngang */
  padding: 0 20px;    /* tạo khoảng thở hai bên trái/phải */
  overflow-x: hidden;
  font-family: "Bellota Text", sans-serif;
}
footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
  margin-top: auto;
  width: 100%;
  max-width: 100vw;
}

a:link {
  color: #689F38;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #689F38;
  background-color: transparent;
  text-decoration: none;
}

/* Quy tắc riêng cho trang chính */
.bee-flower {
  background: url("/images/flower3.11.png") #f9f9f9;
  width: 100%;
  display: block;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

/* Quy tắc riêng cho trang bài viết 1 */
.accounting-flower {
  background: url("/images/flower3.2.png") #f9f9f9;
  width: 100%;
  display: block;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

/* Quy tắc riêng cho trang giới thiệu */
.ketoan-flower {
  background: url("/images/flower3.2.png") #f9f9f9;
  width: 100%;
  display: block;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

.about-flower {
  background: url("/images/flower3.3.png") #f9f9f9;
   width: 100%;
  display: block;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

.term-flower {
  background: url("/images/flower3.41.png") #f9f9f9;
  width: 100%;
  display: block;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

/*contents-flower {
  background: url("/images/flower3.5.png") #f9f9f9;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}*/

.highlight1 {
    background-color: #A2B79A; /* Sage nhạt hơn*/
    color: #333;
    padding: 2px 4px;
    border-radius: 3px;
}

.highlight2 {
    background-color: #C7D3C2; /* Sage rất nhạt*/
    color: #333;
    padding: 2px 4px;
    border-radius: 3px;
}

.highlight3 {
    background-color: #eeeeee; /* Grey rất nhạt*/
    color: #333;
    padding: 2px 4px;
    border-radius: 3px;
}

.logo-container img {
    height: 50px; /* Điều chỉnh kích thước logo */
    width: auto; /* Chiều rộng sẽ tự động điều chỉnh để giữ tỷ lệ */
    border-radius: 100%;
    /* Các thuộc tính khác như border-radius */
}

nav ul {
    list-style: none; /* Xóa các dấu chấm */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Đặt các mục nằm trên cùng một dòng */
    margin: 0 0px; /* Thêm khoảng cách giữa các mục margin: 0 10px; */
}

.quote {
  border-left: 6px solid #7C9473;
  /*background-color: #f3f3f3;*/
  padding: 15px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%; /* Co giãn trên điện thoại */
        max-width: 100vw;
        padding: 15px;
        box-shadow: none;
        border: none;
    }
    main img {
        max-width: 100%;
        margin-bottom: 15px;
    }
}
