@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  font-family: Bellota, sans-serif;
  background: #212121;
  color: #333;  
  display: flex;
  flex-direction: column;
}
header {
  background: #7C9473;
  color: white;
  padding: 15px;
  text-align: center;
}
header h1 {
  color: #ffffff; /* Tiêu đề trắng */
}

nav {
  margin: 10px 0;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav a:hover {
  text-decoration: underline;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
  margin-top: auto;
}

a:link {
  color: #689F38;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #689F38;
  background-color: transparent;
  text-decoration: none;
}

/* Quy tắc riêng cho trang chính */
.bee-flower {
  background: url("/images/flower3.11.png") #f9f9f9;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

/* Quy tắc riêng cho trang bài viết 1 */
.accounting-flower {
  background: url("/images/flower3.2.png") #f9f9f9;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

/* Quy tắc riêng cho trang giới thiệu */
.ketoan-flower {
  background: url("/images/flower3.2.png") #f9f9f9;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

.about-flower {
  background: url("/images/flower3.3.png") #f9f9f9;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

.term-flower {
  background: url("/images/flower3.41.png") #f9f9f9;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Tránh footer che nội dung */
}

/*contents-flower {
  background: url("/images/flower3.5.png") #f9f9f9;
  min-height: 100vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}*/
  
mark {
    background-color: #A2B79A; /* Màu nhạt hơn */
    color: #333; /* Chữ xám rất đậm, gần với màu đen. */
    padding: 2px 4px;
    border-radius: 3px;
}
