@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  font-family: Bellota, sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #333;
}
header {
  background: #7C9473;
  color: white;
  padding: 15px;
  text-align: center;
}
header h1 {
  color: #ffffff; /* Tiêu đề trắng */
}

nav {
  margin: 10px 0;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav a:hover {
  text-decoration: underline;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
  margin-top: 40px;
}

a:link {
  color: #689F38;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #689F38;
  background-color: transparent;
  text-decoration: none;

/* Quy tắc riêng cho trang chính */
.bee-page {
  background-image: url('images/flower3.11.png');
}

/* Quy tắc riêng cho trang bài viết 1 */
.accounting-page {
  background-image: url('images/flower3.2.png');
}

/* Quy tắc riêng cho trang giới thiệu */
.ketoan-page {
  background-image: url('images/flower3.2.png');
}

.about-page {
  background-image: url('images/flower3.3.png');
}

.indiv-page {
  background-image: url('images/flower3.41.png');
}

.page {
  background-image: url('images/flower3.5.png');
}
