/*-- ========================================

  © 2025 - 🐝 Mr. ßee - 🅾ng siêng năng📗

      https://mrgreenbeeosn.github.io

          ☕ Happy reading today!

========================================= --*/

/* =============================
   Reset margin, padding
============================= */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}