/* =============================
  Typography: 
- Font (loại chữ)
- Size (kích thước chữ)
- Color (màu chữ)
- Line height (khoảng cách giữa các dòng chữ)
- Letter spacing (khoảng cách giữa các chữ)

File này chuyên biệt hơn, tập trung hoàn toàn vào định dạng chữ. Nó đặt style chi tiết cho từng loại tiêu đề, đoạn văn, và các phần tử liên quan đến chữ viết khác. Ví dụ:

    Style riêng cho các thẻ từ <h1> đến <h6> (kích thước, font-weight, margin).
    Style cho thẻ <p> (khoảng cách giữa các đoạn).
    Style cho <blockquote>, <em>, <strong>.

Nó đảm bảo rằng tất cả các yếu tố chữ viết trên trang đều có style nhất quán, dễ đọc và đẹp mắt.
============================= */

:root {
font-size: 62.5%; /* 1rem = 10px */
--primary-color: #7C9473; /* Màu màu chính - Sage */
--secondary-color: #A2B79A; /* Màu màu phụ - Màu xanh lá nhạt hơn */
--tertiary-color: #C7D3C2; /* Màu cấp ba - Màu xanh lá rất nhạt, dùng để bổ sung hoặc nhấn nhẹ */
--accent-color:	#689F38; /* Màu nhấn - Xanh lá cây đậm, thường dùng cho nút, link */
--background-color: #212121; /* Màu nền tổng thể */
--background-color-main: #f5f5f5; /* Màu nền tổng thể */
--text-color: black; /* Màu chữ chính */
--border-color: #A2B79A; /* Màu viền - Màu xanh lá nhạt hơn */
}
        
/* Hoặc có thể dùng:
html {
    font-size: 62.5%;
}
*/