/* =============================
  Utilities.css (Tiện ích)
    Mục đích: utilities.css chứa các class nhỏ, có thể tái sử dụng và chỉ làm một việc duy nhất. Chúng được dùng để thêm các style nhanh chóng mà không cần viết CSS mới cho mỗi lần sử dụng.

    Nội dung: Các class có tên ngắn gọn, dễ nhớ, thường chỉ chứa một hoặc hai thuộc tính.

    Ví dụ:

        Class cho khoảng cách: .mt-10 (margin-top: 10px;).
        Class cho màu sắc: .text-red, .bg-primary.
        Class cho định dạng: .text-center, .float-left.
============================= */

/* =============================
   Quote
============================= */

.quote {
    border-left: 6px solid var(--primary-color);
    /*background-color: #f3f3f3;*/
    padding: 1.2rem 1.6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* =============================
   Highlight
============================= */

.highlight1 {
    background-color: var(--secondary-color); /* Sage nhạt hơn*/
    color: #333;
    padding: 4px 8px;
    border-radius: 3px;
}

.highlight2 {
    background-color: var(--tertiary-color); /* Sage rất nhạt*/
    color: #333;
    padding: 4px 8px;
    border-radius: 3px;
}

.highlight3 {
    background-color: #eeeeee; /* Grey rất nhạt*/
    color: #333;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.highlight4 {
    background-color: white; /* Grey rất nhạt*/
    color: #333;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.highlight5 {
    background-color: var(--secondary-color); /* Teal nhạt hơn*/
    color: #333;
    padding: 2px 8px;
    border-radius: 3px;
}

.highlight6 {
    background-color: var(--tertiary-color); /* Teal rất nhạt*/
    color: #333;
    padding: 2px 8px;
    border-radius: 3px;
}

/* =============================
   Bold
============================= */

mark.bold {
    background-color: transparent;
    font-weight: bold;
}

span.bold {
    font-weight: bold;
}

/* =============================
   Utilities
============================= */

.list-none {
    list-style-type: none; /* Hình vuông đầy */
}

.list-square {
    list-style-type: square; /* Hình vuông đầy */
}

.list-disc {
    list-style-type: disc; /* Chấm tròn đầy */
}

.list-circle {
    list-style-type: circle; /* Chấm tròn rỗng */
}

.list-decimal {
    list-style-type: decimal; /* 1, 2, 3, ... */
}

.list-lower-alpha {
    list-style-type: lower-alpha; /* a, b, c, ... */
}

.list-upper-alpha {
    list-style-type: upper-alpha; /* A, B, C, ... */
}

.list-lower-roman {
    list-style-type: lower-roman; /* i, ii, iii, ... */
}

.list-upper-roman {
    list-style-type: upper-roman; /* I, II, III, ... */
}

.list-border {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.list-border1 {
    list-style-type: square;
    padding-left: 5.0rem;           /* 50px */
    text-align: left;
}

.list-border2 {
    list-style-type: disc;
    padding-left: 5.0rem;           /* 50px */
    text-align: left;
}

.list-border li {
    padding: 0.8rem 0rem 0rem 0rem;
    border-bottom: 1px dashed var(--tertiary-color);
    transition: background-color 0.2s ease;
}

.list-border1 li,
.list-border2 li {
    padding: 0.1rem 0rem 0rem 0rem;
    border-bottom: 1px dashed var(--tertiary-color);
    transition: background-color 0.2s ease;
}

/* .list-border li:last-child {
    border-bottom: none;
}

.list-border li:hover {
    background-color: var(--tertiary-color);
} */

.font-normal {
  font-weight: normal;
}

pre {
    overflow-x: auto; /* Thêm thanh cuộn ngang nếu nội dung quá dài */
}

.pre-border {
    border: 2px, solid var(--tertiary-color);
    border-radius: 8px; /* Bo tròn các góc */
    padding: 0px;
}

.pre-background {
    background-color: #eeeeee; /* #f4f4f4Màu nền xám nhạt */
}

code {
    font-family: monospace; /* Đảm bảo font chữ đơn cách */
    color: #333; /* Màu chữ */
}

.text-border {
    border: 1px, solid var(--tertiary-color);
    border-radius: 5px; /* Bo tròn các góc */
    padding: 3px; /* Thêm khoảng đệm bên trong  */
}

.text-border1 {
    border: 2px, solid #A6EFF1;
    border-radius: 5px; /* Bo tròn các góc */
    padding: 1.0rem;              /* 10px */ /* Thêm khoảng đệm bên trong  */
}

.text-border2 {
    border: 3px, solid #A6EFF1;
    border-radius: 5px; /* Bo tròn các góc */
    padding: 1.0rem;              /* 10px */ /* Thêm khoảng đệm bên trong  */
}

.code-background {
    background-color: #eeeeee; /* #f4f4f4Màu nền xám nhạt */
}

/* =============================
  margin
============================= */

.margin-top-50,
p.margin-top-50,
h1.margin-top-50,
h2.margin-top-50,
h3.margin-top-50,
h4.margin-top-50,
h5.margin-top-50,
h6.margin-top-50 {
    margin-top: 5.0rem;     /* 50px */
}

.margin-bottom-50,
p.margin-bottom-50,
h1.margin-bottom-50,
h2.margin-bottom-50,
h3.margin-bottom-50,
h4.margin-bottom-50,
h5.margin-bottom-50,
h6.margin-bottom-50 {
    margin-bottom: 5.0rem;  /* 50px */
}

.margin-y-50,
p.margin-y-50,
h1.margin-y-50,
h2.margin-y-50,
h3.margin-y-50,
h4.margin-y-50,
h5.margin-y-50,
h6.margin-y-50 {
    margin-bottom: 5.0rem;  /* 50px */
    margin-top: 5.0rem;     /* 50px */
}

.margin-top-40,
p.margin-top-40,
h1.margin-top-40,
h2.margin-top-40,
h3.margin-top-40,
h4.margin-top-40,
h5.margin-top-40,
h6.margin-top-40 {
    margin-top: 4.0rem;     /* 40px */
}

.margin-bottom-40,
p.margin-bottom-40,
h1.margin-bottom-40,
h2.margin-bottom-40,
h3.margin-bottom-40,
h4.margin-bottom-40,
h5.margin-bottom-40,
h6.margin-bottom-40 {
    margin-bottom: 4.0rem;  /* 40px */
}

.margin-y-40,
p.margin-y-40,
h1.margin-y-40,
h2.margin-y-40,
h3.margin-y-40,
h4.margin-y-40,
h5.margin-y-40,
h6.margin-y-40 {
    margin-bottom: 4.0rem;  /* 40px */
    margin-top: 4.0rem;     /* 40px */
}

.margin-top-30,
p.margin-top-30,
h1.margin-top-30,
h2.margin-top-30,
h3.margin-top-30,
h4.margin-top-30,
h5.margin-top-30,
h6.margin-top-30 {
    margin-top: 3.0rem;     /* 30px */
}

.margin-bottom-30,
p.margin-bottom-30,
h1.margin-bottom-30,
h2.margin-bottom-30,
h3.margin-bottom-30,
h4.margin-bottom-30,
h5.margin-bottom-30,
h6.margin-bottom-30 {
    margin-bottom: 3.0rem;  /* 30px */
}

.margin-y-30,
p.margin-y-30,
h1.margin-y-30,
h2.margin-y-30,
h3.margin-y-30,
h4.margin-y-30,
h5.margin-y-30,
h6.margin-y-30 {
    margin-bottom: 3.0rem;  /* 30px */
    margin-top: 3.0rem;     /* 30px */
}

.margin-top-20,
p.margin-top-20,
h1.margin-top-20,
h2.margin-top-20,
h3.margin-top-20,
h4.margin-top-20,
h5.margin-top-20,
h6.margin-top-20 {
    margin-top: 2.0rem;     /* 20px */
}

.margin-bottom-20,
p.margin-bottom-20,
h1.margin-bottom-20,
h2.margin-bottom-20,
h3.margin-bottom-20,
h4.margin-bottom-20,
h5.margin-bottom-20,
h6.margin-bottom-20 {
    margin-bottom: 2.0rem;  /* 20px */
}

.margin-y-20,
p.margin-y-20,
h1.margin-y-20,
h2.margin-y-20,
h3.margin-y-20,
h4.margin-y-20,
h5.margin-y-20,
h6.margin-y-20 {
    margin-bottom: 2.0rem;  /* 20px */
    margin-top: 2.0rem;     /* 20px */
}

.margin-top-10,
p.margin-top-10,
h1.margin-top-10,
h2.margin-top-10,
h3.margin-top-10,
h4.margin-top-10,
h5.margin-top-10,
h6.margin-top-10 {
    margin-top: 1.0rem;     /* 10px */
}

.margin-bottom-10,
p.margin-bottom-10,
h1.margin-bottom-10,
h2.margin-bottom-10,
h3.margin-bottom-10,
h4.margin-bottom-10,
h5.margin-bottom-10,
h6.margin-bottom-10 {
    margin-bottom: 1.0rem;  /* 10px */
}

.margin-y-10,
p.margin-y-10,
h1.margin-y-10,
h2.margin-y-10,
h3.margin-y-10,
h4.margin-y-10,
h5.margin-y-10,
h6.margin-y-10 {
    margin-bottom: 1.0rem;  /* 10px */
    margin-top: 1.0rem;     /* 10px */
}

/* =============================
  padding
============================= */

.padding-top-50,
p.padding-top-50,
h1.padding-top-50,
h2.padding-top-50,
h3.padding-top-50,
h4.padding-top-50,
h5.padding-top-50,
h6.padding-top-50 {
    padding-top: 5.0rem;     /* 50px */
}

.padding-bottom-50,
p.padding-bottom-50,
h1.padding-bottom-50,
h2.padding-bottom-50,
h3.padding-bottom-50,
h4.padding-bottom-50,
h5.padding-bottom-50,
h6.padding-bottom-50 {
    padding-bottom: 5.0rem;  /* 50px */
}

.padding-y-50,
p.padding-y-50,
h1.padding-y-50,
h2.padding-y-50,
h3.padding-y-50,
h4.padding-y-50,
h5.padding-y-50,
h6.padding-y-50 {
    padding-bottom: 5.0rem;  /* 50px */
    padding-top: 5.0rem;     /* 50px */
}

.padding-top-40,
p.padding-top-40,
h1.padding-top-40,
h2.padding-top-40,
h3.padding-top-40,
h4.padding-top-40,
h5.padding-top-40,
h6.padding-top-40 {
    padding-top: 4.0rem;     /* 40px */
}

.padding-bottom-40,
p.padding-bottom-40,
h1.padding-bottom-40,
h2.padding-bottom-40,
h3.padding-bottom-40,
h4.padding-bottom-40,
h5.padding-bottom-40,
h6.padding-bottom-40 {
    padding-bottom: 4.0rem;  /* 40px */
}

.padding-y-40,
p.padding-y-40,
h1.padding-y-40,
h2.padding-y-40,
h3.padding-y-40,
h4.padding-y-40,
h5.padding-y-40,
h6.padding-y-40 {
    padding-bottom: 4.0rem;  /* 40px */
    padding-top: 4.0rem;     /* 40px */
}

.padding-top-30,
p.padding-top-30,
h1.padding-top-30,
h2.padding-top-30,
h3.padding-top-30,
h4.padding-top-30,
h5.padding-top-30,
h6.padding-top-30 {
    padding-top: 3.0rem;     /* 30px */
}

.padding-bottom-30,
p.padding-bottom-30,
h1.padding-bottom-30,
h2.padding-bottom-30,
h3.padding-bottom-30,
h4.padding-bottom-30,
h5.padding-bottom-30,
h6.padding-bottom-30 {
    padding-bottom: 3.0rem;  /* 30px */
}

.padding-y-30,
p.padding-y-30,
h1.padding-y-30,
h2.padding-y-30,
h3.padding-y-30,
h4.padding-y-30,
h5.padding-y-30,
h6.padding-y-30 {
    padding-bottom: 3.0rem;  /* 30px */
    padding-top: 3.0rem;     /* 30px */
}

.padding-top-20,
p.padding-top-20,
h1.padding-top-20,
h2.padding-top-20,
h3.padding-top-20,
h4.padding-top-20,
h5.padding-top-20,
h6.padding-top-20 {
    padding-top: 2.0rem;     /* 20px */
}

.padding-bottom-20,
p.padding-bottom-20,
h1.padding-bottom-20,
h2.padding-bottom-20,
h3.padding-bottom-20,
h4.padding-bottom-20,
h5.padding-bottom-20,
h6.padding-bottom-20 {
    padding-bottom: 2.0rem;  /* 20px */
}

.padding-y-20,
p.padding-y-20,
h1.padding-y-20,
h2.padding-y-20,
h3.padding-y-20,
h4.padding-y-20,
h5.padding-y-20,
h6.padding-y-20 {
    padding-bottom: 2.0rem;  /* 20px */
    padding-top: 2.0rem;     /* 20px */
}

.padding-top-10,
p.padding-top-10,
h1.padding-top-10,
h2.padding-top-10,
h3.padding-top-10,
h4.padding-top-10,
h5.padding-top-10,
h6.padding-top-10 {
    padding-top: 1.0rem;     /* 10px */
}

.padding-bottom-10,
p.padding-bottom-10,
h1.padding-bottom-10,
h2.padding-bottom-10,
h3.padding-bottom-10,
h4.padding-bottom-10,
h5.padding-bottom-10,
h6.padding-bottom-10 {
    padding-bottom: 1.0rem;  /* 10px */
}

.padding-y-10,
p.padding-y-10,
h1.padding-y-10,
h2.padding-y-10,
h3.padding-y-10,
h4.padding-y-10,
h5.padding-y-10,
h6.padding-y-10 {
    padding-bottom: 1.0rem;  /* 10px */
    padding-top: 1.0rem;     /* 10px */
}